<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
      <!-- Búsquedas-->


      <shared-search-box
        (onValue)="searchByCountry($event)"
        placeholder="Buscar país">
      </shared-search-box>
      Búsquedas
    </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
<!--
    <ul>
      <li *ngFor="let country of countries">
        {{ country.capital}} - {{country.population}}
      </li>
    </ul>
    Tabla de resultados
 -->
  </div>
</div>
