<h2>Por Capital</h2>
<hr>
<div class="row">
    <div class="col">
      <!-- Búsquedas-->


      <!-- (onValue)="searchByCapital($event)" -->
      <shared-search-box
        (onDebounce)="searchByCapital($event)"
        [initialValue]="initialValue"
        placeholder="Buscar por capital">
      </shared-search-box>
      Búsquedas
    </div>
</div>

<div class="row">
  <div class="col">
    <hr>

    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-table [countries]="countries"></countries-table>
<!--
    <ul>
      <li *ngFor="let country of countries">
        {{ country.capital}} - {{country.population}}
      </li>
    </ul>
    Tabla de resultados
 -->
  </div>
</div>
